@use "../_variables" as *;
@use "../_fonts";

.header {
  font-family: $primary-font;

  &__intro {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px 20px 0;
    text-shadow: 2px 2px 2px rgb(188, 188, 188);
  }

  &__heading {
    font-size: 40px;
    line-height: 52px;
    padding: 20px 20px 20px 0;
    text-shadow: 2px 2px 2px rgb(188, 188, 188);
  }

  &__image-container {
    display: none;
  }
}
