* {
	margin: 0;
	padding: 0;
}

nav {
	background-color: rgb(19, 19, 19);
	display: flex;
	justify-content: space-between;
}

.links {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: white;
	padding: 10px;
}

p a {
	color: white;
	padding:10px;
	transition: 0.2s ease-in-out;
}

a:hover {
	color: rgb(42, 127, 238);
	background-color: rgb(199, 225, 248);
}

.logo {
	text-align: center;
	padding: 10px;
	background-color: green;
	width: 12%;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 18px;
}


.flex-container {
	display: flex;
	height: vh;
}

.left-hand-panel {
	width: 70%;
	height: 490px;
	margin: 20px 10px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right-hand-panel {
	margin: 20px 20px 20px 10px;
	padding: 10px;
	width: 30%;
	border: black solid 3px;
}

.box {
	margin: 20px;
	width: 100px;
	height: 100px;
	background-color: black;
	color: white;
	font-size: 20px;
  }

  .panel-1, .panel-2, .panel-3 {
	border: black solid 3px;
	display: flex;
  }

  .panel-1 {
	justify-content: space-around;
	align-items: center;
  }

  .panel-2 {
	justify-content: flex-end;
	align-items: center;
  }

  .panel-3 {
	justify-content: flex-start;
	align-items: center;
  }
