@use "./_variables" as *;
@use "./_components";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
}

body {
	width: 580px;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.row p {
	padding: 30px 30px;
}

.text {
	width: 60%;
}

.row-1-text {
	width: 70%;
}

.row-1-image {
	width: 30%;
}

.row-2-text {
	width: 58%;
}

.row-2-image {
	width: 42%;
}

.text p {
	font-size: 24px;
	line-height: 36px;
	text-align: left;
}

.bold {
	font-weight: 700;
}

.thin {
	font-weight: 300;
	font-style: italic;
}

