@use "./_variables" as *;
@use "./_components";
@use "./_layouts";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
}

.text p {
	font-size: 24px;
	line-height: 36px;
	text-align: left;
}

.bold {
	font-weight: 700;
}

.thin {
	font-weight: 300;
	font-style: italic;
}

