* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flag-1 {
  margin-top: 100px;
}

.flag-section {
  width: 300px;
  height: 60px;
  margin: 0 auto;
}

.top {
  background-color: #000000;
}

.middle {
  background-color: #de0000;
}

.bottom {
  background-color: #ffce00;
}

.flag-1:hover {
  .top {
    background-color: #ee2939;
  }

  .middle {
    background-color: #f7f7f7;
  }

  .bottom {
    background-color: #466d4d;
  }
}
