@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Inter", arial, sans-serif;
  }
  .navigation__logo {
    color: #121212;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(188, 188, 188);
  }
  .navigation__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__link-container .navigation__link {
    color: #121212;
    text-decoration: none;
    text-shadow: 5px 5px 5px rgb(219, 216, 216);
    margin: 0 20px 0 20px;
    cursor: pointer;
  }
  .navigation__link-container .navigation__link--home {
    margin-left: 0;
  }
  .navigation__link-container .navigation__link--getintouch {
    margin-right: 0;
    border: 1px solid #121212;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    box-shadow: 0 5px 5px 0 rgba(29, 29, 29, 0.2);
  }
}
.header {
  font-family: "Inter", arial, sans-serif;
  padding: 40px 20px 0 20px;
}
.header__text-container .header__intro {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
  text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
}
.header__text-container .header__heading {
  font-size: 46px;
  line-height: 54px;
  padding: 20px 20px 20px 0;
  text-shadow: 1.5px 1.5px 1.5px rgb(188, 188, 188);
}
.header__image-container {
  display: none;
}

@media screen and (min-width: 370px) {
  .header {
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .header .header__heading {
    font-weight: 600;
    line-height: 60px;
  }
  .header__image-container {
    display: block;
  }
  .header__image-container .header__image {
    width: 360px;
    transition: all 0.5s ease-in;
  }
  .header__image-container .header__image:hover {
    transform: scale(-1, 0.9);
  }
}
.about-me {
  padding: 0 20px;
}
.about-me__heading {
  font-family: "Inter", arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: #121212;
}
.about-me__container .about-me__image-container {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px 0;
}
.about-me__container .about-me__image-container .about-me__image {
  width: 100%;
}
.about-me__container .about-me__text-container .about-me__desktop-heading {
  display: none;
}
.about-me__container .about-me__text-container .about-me__paragraph {
  font-family: "Inter", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: left;
  padding: 10px 0;
  color: #121212;
}

@media screen and (min-width: 370px) {
  .about-me {
    padding: 0 40px;
  }
}
@media screen and (min-width: 768px) {
  .about-me__heading {
    display: none;
  }
  .about-me__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-me__container .about-me__image-container {
    margin: 0;
  }
  .about-me__container .about-me__text-container {
    width: 68%;
    margin-left: 60px;
  }
  .about-me__container .about-me__text-container .about-me__desktop-heading {
    display: block;
    font-family: "Inter", arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 20px;
    color: #121212;
  }
}
.technical-skills .technical-skills__logo-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}
.technical-skills .technical-skills__logo-text {
  font-family: "Inter", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 10px 0;
  color: #121212;
}
.technical-skills__logo-and-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.technical-skills .technical-skills__logo-text {
  padding: 10px;
}

@media screen and (min-width: 370px) {
  .technical-skills {
    padding: 0 40px;
  }
  .technical-skills .technical-skills__logo-container {
    gap: 10px;
  }
}
@media screen and (min-width: 900px) {
  .technical-skills {
    padding: 0 120px;
  }
  .technical-skills .technical-skills__logo-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0 120px;
  }
  .technical-skills .technical-skills__logo-container__logo-and-text-container {
    padding-top: 20px;
    margin: 10px;
  }
  .technical-skills .technical-skills__logo-container .technical-skills__logo-text {
    padding: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  min-width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
}

.technical-skills {
  padding: 0 15px;
}
.technical-skills__heading {
  font-family: "Inter", arial, sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: #121212;
}
.technical-skills__paragraph {
  font-family: "Inter", arial, sans-serif;
  line-height: 1.75rem;
  text-align: center;
  padding: 10px 20px;
  color: #121212;
}

@media screen and (min-width: 768px) {
  body {
    padding: 30px 60px;
  }
  .technical-skills__heading {
    font-size: 28px;
  }
  .technical-skills__paragraph {
    padding: 10px 40px;
  }
}/*# sourceMappingURL=styles.css.map */